.cart-container{
  padding:40px;
}

/* .cart-item{
  display:flex;
  gap:20px;
  align-items:center;
  background:#f5f7fb;
  padding:15px;
  margin-bottom:20px;
  border-radius:8px;
} */

@media (max-width:768px){

  .cart-item{
    flex-direction:column;
    text-align:center;
  }

}

.cart-item img{
  width:80px;
  height:80px;
  object-fit:contain;
}

.cart-info{
  flex:1;
}

.qty{
  display:flex;
  gap:10px;
  align-items:center;
  margin:10px 0;
}

.qty button{
  padding:5px 10px;
}

.remove{
  background:red;
  color:white;
  border:none;
  padding:6px 10px;
  cursor:pointer;
}

.cart-total{
  margin-top:30px;
  padding:20px;
  background:#eaf0ff;
  border-radius:8px;
  text-align:right;
}