.dark-mode{
  background-color:#121212;
  color:white;
}

.dark-mode .auth-card,
.dark-mode .product-card,
.dark-mode .profile-card,
.dark-mode .welcome-card{
  background:#1e1e1e;
  color:white;
}

.dark-mode input{
  background:#2a2a2a;
  color:white;
  border:1px solid #444;
}

.dark-mode button{
  background:#4a6cf7;
}

.dark-mode .navbar{
  background:#111;
}

.dark-mode .cart-item{
  background:#1e1e1e;
}

.dark-mode .cart-total{
  background:#1e1e1e;
  color:white;
  border:1px solid #333;
}